body{
    margin: 0;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1560762484-813fc97650a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
    background-size: cover;
    text-align: center;
}

h1{
    color: white;
    font-size: 50px;
    font-family: "Open-Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.button{
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    background-color: orangered;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;
}

.button:hover{
    filter: brightness(0.8);
}

.active.container{
    filter: blur(5px) brightness(0.7);
}

.popup-container{
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    width: 400px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: url("https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.7s;
}


h4{
    color: purple;
    font-family: "Open-Sans", sans-serif;
    font-size: 30px;
    margin: 10px 0;
}

label{
    color: purple;
    font-family: "Open-Sans", sans-serif;
    font-size: 15px;
    text-align: right;
}

input{
    margin: 10px 0;
    padding: 10px;
    border: 2px solid;
    font-size: 20px;
    text-align: center;
}

.popup-button{
    background-color: orangered;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid;
}

.input::placeholder{
    color:black;
}

.close-icon{
    position: absolute;
    right: 20px;
}

.close-icon:hover{
    color:orangered;
    cursor: pointer;
}

.active.popup-container{
    visibility: hidden;
    opacity: 0;
    top: 10%;
}